<%= render 'pages/home' unless user_signed_in? %>

<div class="container" id="pins">
    <% @pins.each do |pin| %>
    <div class="row">
          <div class="col-md-3" id="pin" data-id="<%=pin.id%>">
            <div class="box panel panel-default">
            <%= link_to image_tag(pin.image.url(:medium)), pin %>
              <%= pin.description %><br/>
              <strong><%= pin.user.name if pin.user %></strong>
              <% if pin.user == current_user %>
                <div class="actions">
                  <%= link_to edit_pin_path(pin) do %>
                  <span class="glyphicon glyphicon-edit"></span> 
                  Edit
                  <% end %>
                  <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span> Delete
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
  </div>



<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<script id="pin-template" type="text/x-handlebars-template">
  <div class="box panel panel-default" id="pin" data-id="{{id}}">
    <div class="panel-body">
      {{description}}<br/>
      <strong>{{username}}</strong>
      </div>
    </div>
</script>

<script id="comment-template" type="text/x-handlebars-template">
    <tr>
      <h1>{{title}}</h1>
      <div class="body">
        {{body}}
      </div>
    </div>
</script>