<%= link_to 'Back', pins_path %><br>
<%= link_to 'Next Pin', '#', class: "js-next", data: {id: @pin.id} %>

<div id="pinResults">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading center">
          <%= image_tag @pin.image.url(:medium) %>
        </div>
        <div class="panel-body">
          <p><%= @pin.description %></p>
          <p><strong><%= @pin.user.name if @pin.user %></strong></p>

          <% if @pin.user == current_user %>
           <%= link_to edit_pin_path(@pin) do %>
          	<span class="glyphicon glyphicon-edit"></span>
          	Edit
        <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<script id="pin-template" type="text/x-handlebars-template">
   <div id="pinResults">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading center">
          </div>
          <div class="panel-body">
            <p>{{description}}</p>
            <p>Pin id: {{id}}
            
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
