<table class="table table-striped">
  <thead>
    <tr> 
      <th>#</th> <th>Username</th> <th>Comment</th>
    </tr> 
  </thead> 
  <tbody>
    <% @comments.each do |comment| %>
     <tr> 
        <th scope="row"><%= comment.id %></th> 
        <td><%= comment.username %></td> <td><%= comment.content %></td> 
    </tr>
    <% end %>
   </tbody>
</table>


<% if user_signed_in? %>
  <%= form_for @comment, url: '/feedback' do |f| %>
    <%= f.text_area :content %><br></br>
    <%= f.submit %>
    <% end %>
<% else %>
  <h4> Please <%= link_to "Login", new_user_session_path %> to submit feedback. Thank you! </h4>
<% end %>

<script id="comment-template" type="text/x-handlebars-template">
  <tbody>
     <tr> 
        <th scope="row"><{{id}}></th> 
        <td>Username</td> <td>{{content}}</td> 
    </tr>
   </tbody>
</script>

<script id="pin-template" type="text/x-handlebars-template">
   <div id="pinResults">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading center">
          </div>
          <div class="panel-body">
            <p>{{description}}</p>
            <p><strong>{{username}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>